/* CSS Document */
.wr_table td {
  padding: 10px;
  line-height: 1.5em;
}

.wr_legend {
  list-style-type: square; 
  padding: 10px 10px 0px; 
  margin-left: 15px; 
  color: grey;
}

.wr_legend li {
  text-align: left;
  margin-bottom: 0px;
}

.unconf {
  background-color: #FFDCFF;
}